* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0, .5);
}

.modal .container {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
}

.modal input[type='text'] {
	width: 100%;
	display: block;
	padding: 10px;
	border: none;
	box-shadow: none;
	font-size: 12px;
}

.modal input[type='text']:focus {
	outline: none;
}

.cta_wrapper {
	text-align: center;
	margin-top: 10px;
}

.btn {
	padding: 10px 20px;
	border: 1px solid white;
	color: white;
	text-decoration: none;
	display: inline-block;
}

.btn:active {
	color: inherit;
}

.box_wrapper {
	display: flex;
	border: 1px solid green;
	padding: 10px;
}

.box_wrapper_item {
	width: 33.3%;
	max-width: 33.3%;
	padding: 10px;
	display: flex;
	align-items: center;
}

.box_wrapper_item span {
	margin-right: 5px;
}

.box {
	width: 30px;
	height: 30px;
	display: inline-block;
	border: 1px solid green;
	margin-right: 5px;
}

.box_holder {
	border: 1px solid red;
	padding: 10px;
	flex-grow: 1;
}

.box_holder .box {
	border-color: red;
}